<div class="sidebar">
  <h3>Opcje dekoracji</h3>
  <!-- Lista dekoracji dynamicznie -->
  <div *ngFor="let deco of decorationsList" class="option-group">
    <button (click)="onAddDecoration(deco.modelFileName)">
      Dodaj {{ deco.name }}
    </button>
  </div>
  <hr>
  <button (click)="onSaveScene()">Zapisz scenę</button>
  <button (click)="onAttachSelectedToCake()">Przyklej do tortu</button>
  <div class="transform-group">
    <button (click)="setTransformMode('translate')">Przesuń</button>
    <button (click)="setTransformMode('rotate')">Obróć</button>
    <button (click)="setTransformMode('scale')">Skaluj</button>
  </div>
  <hr>
  <h3>Paint Tool</h3>
  <select [(ngModel)]="selectedBrush" (change)="onBrushChange()">
    <option *ngFor="let brush of brushList" [value]="brush.id">
      {{ brush.name }}
    </option>
  </select>
  <button (click)="togglePaintMode()">
    {{ paintService.paintMode ? 'Wyłącz Rysowanie' : 'Włącz Rysowanie' }}
  </button>
  <hr>
  <h3>Opcje tortu</h3>
    <div class="option-group">
      <label>Rozmiar tortu: {{ cakeSize }}</label>
      <input type="range" min="1" max="2" step="0.1" [(ngModel)]="cakeSize" (change)="updateCakeOptions()">
    </div>
    <div class="option-group">
      <label>Kolor tortu:</label>
      <input type="color" [(ngModel)]="cakeColor" (change)="updateCakeOptions()">
    </div>
    <div class="option-group">
      <label>
        <input type="checkbox" [(ngModel)]="cakeText" (change)="updateCakeOptions()">
        Włącz napis
      </label>
    </div>
    <div class="option-group">
      <label>Tekst napisu:</label>
      <input type="text" [(ngModel)]="cakeTextValue" (change)="updateCakeOptions()" [disabled]="!cakeText">
    </div>
  <hr>
</div>
