<div class="editor-container">
    <app-cake-sidebar
      (addDecorationEvent)="onAddDecoration($event)"
      (cakeOptionsChange)="updateCakeOptions($event)"
      (validateDecorations)="onValidateDecorations()"
      (transformModeChange)="onTransformModeChange($event)"
      (paintModeChange)="onTogglePaintMode($event)"
      (brushChange)="onBrushChanged($event)"
      (saveSceneEvent)="onSaveScene()"
      (exportObj)="onExportObj()"
      (exportStl)="onExportStl()"
      (exportGltf)="onExportGltf()"
      (screenshot)="onScreenshot()"
    >
    </app-cake-sidebar>
    <div #canvasContainer class="canvas-container"></div>
  </div>
